<h3> Cart </h3>
<div ng-repeat="g in newGem">
		<table class="table table-hover table-inverse">
			<th> <h4 align="center"><img ng-src="{{g.img}}"> </img></h4> </th>
			<tr>
				<td> <h1> {{"Name: "}} {{g.name}} </h1>  </td>
			</tr>

			<tr>
				<td> <h2> {{"Price: $"}} {{g.price}}</h2> </td>
			</tr>

			<tr>
				<td> <h2>{{"Description: "}} </h2> {{g.description}} </td>
			</tr>

			<tr>
				<td> <button type="button" class="btn btn-primary btn-sm" ng-show="g.canPurcase" ng-click="buyGemAction(g)"> Add to Cart </button> </td>
			</tr>
	</table>

	</div>
<button type="button" class="btn btn-primary btn-sm" ng-click="completeShopping();"> Confirm Purchase </button>
